# ignore the data/ directory because it contains the actual content of users
# data/ is the database of the entire application and becomes very big
data/** 
**/.DS_Store
**/decisions.txt
public/comics/**
**/flightplan.js
node_modules/**
