div.navbar.navbar-inverse.navbar-fixed-top
  div.container
    div.navbar-header
      button(type="button" data-toggle="collapse" data-target=".navbar-collapse").navbar-toggle
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="/").navbar-brand Bing Comics
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        li: a(href="/comics") Comics
        li: a: div(id="my-signin2")
        li(style="display:none").dropdown.nav-user
          a.dropdown-toggle(data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") User
            span.caret
          ul.dropdown-menu
            li.dropdown.dropdown-submenu
              a(href="/profile" data-toggle="dropdown").dropdown-toggle Operations
              ul.dropdown-menu
                li: a(href="#" data-toggle="modal" data-target="#upload_Dialog") Upload
                //li: a(href="#" data-toggle="modal" data-target="") Update
                //li: a(href="#" data-toggle="modal" data-target="") Delete
            li: a(href="/profile") Profile
            li.sign-out: a(href="/") Sign Out
include ./upload.jade


