extends layout
block content
  br
  div.row
    div.col-md-12.comics-list
      h4 You are not logged in. You can sign in with your Google account.
      //h3(style="text-align:center") Comics:
block scripts
  script(type='text/javascript' src='/javascripts/profile_render.js')


